/* ajustes generales al body */
body {
  font-family: 'Nunito', sans-serif;
  color: #547BF0;
}
/* barra de navegación*/
nav {
  background-color: #547BF0;
}

.navbartitle {
  color: #B9F084;
  font-weight: 700;
  font-size: 25px;
}

.hamburger-button {
  border-color: #B9F084;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  background-color: transparent;
  border: 1px solid #B9F084;
  border-radius: .25rem;
}

/* header */

/* experiencia laboral */
.experience-button {
  background-color: #B9F084;
  color: #5471F0;
  font-weight: 700;
  display: block;
  width: 100%;
}

/* trabajos en desafio latam */
.projectcard {
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  font-weight: 700;
}

.cardbutton {
  background-color: #547BF0;
  color: #B9F084;
}

/* formulario de contacto */
.formlink {
  color: #B9F084;
}

/* footer */
footer {
  background-color: #547BF0;
  color: #B9F084;
  margin-top: 50px;
  padding-top: 20px;
}

.footerblock {
  height: 60px;
}

.footericonblock {
text-align: center;
}

.footericon {
  color: #B9F084;
}

.githubicon {
  margin-left: 0;
  margin-right: 5vw;
}

.linkedinicon {
  margin-right: 7vw;
  margin-left: 2vw
}

.instagramicon {
  margin-right: 0;
}
/*primer breakpoint para dispositivos de tamaño entre celulares y computadores, como por ejemplo tablets*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*breakpoint para computadores */
@media (min-width: 992px) {
  body {
    background-color: green;
   }
}
