/* ajustes generales al body */

/* barra de navegación*/

/* header */

/* experiencia laboral */

/* trabajos en desafio latam */
.projectcard {
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
}

/* formulario de contacto */

/* footer */
